<div class="btn-group row col-sm-12" role="group" aria-label="...">

  <button type="button" class="btn btn-default col-xs-4 filterButton" id="filterWatched">Watched Titles</button>
  <button type="button" class="btn btn-default col-xs-4 filterButton" id="filterUnwatched">Unwatched Titles</button>
  <button type="button" class="btn btn-success col-xs-4 filterButton" id="filter5stars">Ratings</button>

</div>
<div>
  <input id="slidIn" type="range" min="0" max="10" step="1" />
</div>
