<div class="row">
<div class="radio col-xs-3 col-xs-offset-1">
  <label>
    <input type="radio" name="filterRadios" id="filterAll" value="all" checked>
			Full Library
  </label>
</div>
<div class="radio col-xs-4">
  <label>
    <input type="radio" name="filterRadios" id="filterWatched" value="watched">
    Watched Titles
  </label>
</div>
<div class="radio col-xs-3">
  <label>
    <input type="radio" name="filterRadios" id="filterUnwatched" value="unwatched">
    Unwatched Titles
  </label>
</div>
</div>
