<div class="btn-group row" role="group" aria-label="...">
  <button type="button" class="btn btn-default" id="filterAll">Full Library</button>
  <button type="button" class="btn btn-default " id="filterWatched">Watched Titles</button>
  <button type="button" class="btn btn-default" id="filterUnwatched">Unwatched Titles</button>
</div>
