<div class="btn-group row" role="group" aria-label="...">
  <button type="button" class="btn btn-default col-xs-4" id="filterAll">Full Library</div>
  <button type="button" class="btn btn-default col-xs-4" id="filterWatched">Watched Titles</div>
  <button type="button" class="btn btn-default col-xs-4" id="filterUnwatched">Unwatched Titles</div>
</div>
