<div class="btn-group row col-sm-12" role="group" aria-label="...">

  <button type="button" class="btn btn-success col-xs-4 filterButton" id="filterAll">Full Library</button>
  <button type="button" class="btn btn-default col-xs-4 filterButton" id="filterWatched">Watched Titles</button>
  <button type="button" class="btn btn-default col-xs-4 filterButton" id="filterUnwatched">Unwatched Titles</button>

</div>
