<div class="container lightbox">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="input-group">
        <select class="form-control" id="findInput" placeholder="Search by Movie Title">
          {{#each Movies}}
          <option val="{{Title}}">{{Title}}</option>
          {{/each}}
        </select>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="findButton">Go!</button>
        </span>
      </div>
    </div>
    <div class="col-sm-1">
      <span class="glyphicon glyphicon-remove" id="hideLightbox"></span>
    </div>
  </div>

  <div id="findResult"></div>
</div>
