<h1>Lightbox</h1>
<div class="row">
  <div class="col-sm-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by Movie Title">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-remove" id="hideLightbox"></span>
  </div>
</div>

<div id="searchResult"></div>
