<div class="form row">

	<h2>Log In</h2>
	<p>Welcome Back to Popcorn!</p>
	<p> Please confirm your email address and password to view your library.</p>

	<div class="col-xs-1 col-xs-offset-1">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
	</div>

	<form class="col-xs-8">
	  <div class="form-group">
	    <label for="emailLogIn">Email address</label>
	    <input type="email" class="form-control" id="emailLogIn" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="passwordLogIn">Password</label>
	    <input type="password" class="form-control" id="passwordLogIn" placeholder="Password">
	  </div>
	  <div>
	  	<p class='errorMessage' id='errorMessage'>Error Messages: e.g. log in failed. </p>
	  </div>
	  <button id="submitLogIn" type="submit" class="btn btn-default">Log In</button>
	</form>

	<div class="col-xs-1">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
	</div>



</div>
