<div class="row">

	<div class="col-sm-5 col-sm-offset-1 col-xs-11">
		<div class="input-group">
      <input type="text" class="form-control" id="searchInput" placeholder="Movie Title">
      	<span class="input-group-btn">
        <button class="btn btn-default" type="button" id="searchButton">Search</button>
      </span>
    </div>
	</div>

  <div class="col-sm-5 col-sm-offset-1 col-xs-11">
    <h3 class='topLevel'>Your Popcorn Library</h1><button class="btn btn-default logOut" type="submit" id="logOut">Log Out</button>
  </div>




</div>
