<div class="row">

	<div class="col-md-4 col-md-offset-1 col-xs-11 col-xs-offset-1">
		<div class="input-group">
      <input type="text" class="form-control" id="searchInput" placeholder="Movie Title">
      	<span class="input-group-btn">
        <button class="btn btn-default" type="button" id="searchButton">Search</button>
      </span>
    </div>
	</div>

	<div class="col-md-6 col-xs-11 col-xs-offset-1">
		<h3 class='topLevel'>Your Popcorn Library</h1><button class="btn btn-default logOut" type="submit" id="logOut">Log Out</button>
	</div>



</div>