<div class="form row">
	<h2>Register</h2>
	<div class="col-xs-1 col-xs-offset-1">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
	</div>

	<form class="col-xs-8">
	  <div class="form-group">
	    <label for="emailRegister">Email address</label>
	    <input type="email" class="form-control" id="emailRegister" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="passwordRegister">Password</label>
	    <input type="password" class="form-control" id="passwordRegister" placeholder="Password">
	  </div>
	   <div class="form-group">
	    <label for="passwordRegisterCheck">Confirm Password</label>
	    <input type="password" class="form-control" id="passwordRegisterCheck" placeholder="Re-enter Password">
	  </div>
	  <div>
	  	<p class='errorMessage' id='errorMessage'>Error Messages: e.g. password doesn't match. </p>
	  </div>
	  <button id="submitRegister" type="submit" class="btn btn-default">Sign Me Up!</button>
	</form>

	<div class="col-xs-1">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
	</div>



</div>
