<h1>Search Results</h1>

{{#each Search}}
<div class="row">
  <div class="col-sm-8">
    <p>Title: {{Title}}</p>
    <p>Year: {{Year}}</p>
    <p>
  </div>
  <div class="col-sm-4>">
    <button type="button" class="btn btn-default addMovie" id="{{imdbID}}">Add to Watch List</button>
  </div>
</div>
{{/each}}
