<div class="splash row">

	<div class="col-xs-3">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcorn-2.png" alt="popcorn">
	</div>
	<div class="col-xs-8">
		<h2>Popcorn provides a quick and easy way to build a personalized movie library.</h2>
		<p>If you're new, sign up for a free account by clicking 'register.' You'll have your own movie Libray built up in no time.</p>
		<p>Members, please log in to manage your library.</p>
		<p>Happy viewing.</p>
	</div>
	<div class="col-xs-1">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
		<img src="/styles/images/popcornKernel.png" alt="popcorn">
		<img src="/styles/images/popcornKernel2.png" alt="popcorn">
		<img src="/styles/images/popcornKernel3.png" alt="popcorn">
	</div>

</div>
